---
import Layout from '../layouts/Layout.astro';
import HeroExplosion from '../components/HeroExplosion.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>  
  <main>
    <HeroExplosion />

    <section class="content">
      <h1>We build the fastest bikes in the world.</h1>
    </section>
  </main>
</Layout>

<style>
  /* Stili specifici per la Home Page */
  main {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
  }

  .hero-content h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: uppercase;
	color: #F4F7ED;
  }

  .cta-button {
    display: inline-block;
    background-color: var(--btn-color);
    color: var(--btn-text);
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
  }

  .content {
    position: relative;
    z-index: 101;
    background-color: #252525;
    padding: 60px 30px;
    min-height: 100vh;
  }

  .content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #F4F7ED;
  }

  .content p {
    font-size: 1rem;
    color: #F4F7ED;
    line-height: 1.6;
  }
</style>