---
import PrototypeCard from '../components/PrototypeCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <section class="top-title-section">
      <img src="/TaurusX_Nevada.jpg" alt="TaurusX during the World Human Powered Speed Challenge in Nevada"/>
      <h1>Our Prototypes</h1>
    </section>

    <section class="prototypes-section">
      <PrototypeCard
        image="/TaurusX_Nevada.jpg"
        name="TaurusX"
        years="2019-2022"
        category="Women, single rider (leg powered)"
        link="/prototypes/taurus-x"
      />

      <h2>WORK IN PROGRESS</h2>
    </section>
  </main>
</Layout>

<style>
  .prototypes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    background-color: #252525;
  }
</style>