---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <section class="top-title-section">
      <img src="/TeamBG_Mobile.JPG" alt="Team background"/>
      <h1>The Team</h1>
    </section>

    <section class="page-content">
        <div class="content-text">
          <p>
            Policumbent is a Student Team from <em>Politecnico di Torino,</em> Turin, Italy. Founded in
            2009 with the aim of designing the fastest human-powered vehicles in the world, the Team has
            been pushing the limits of speed on land for over a decade.
            
          </br></br>
            
            The Team holds the <em><strong>World Speed Record</strong></em> for the "arm-powered" category
            with their vehicle "Cerberus," with <em>83.28 km/h</em>. In the "leg-powered" category,
            Policumbent holds the <em><strong>Italian men record</strong> (136.49 km/h)</em> and the
            <em><strong>Italian women record</strong> (123.88 km/h)</em>.
          </p>
        </div>
    </section>

    <!--
    <section class="members">
      <h1>Our members and divisions</h1>

      <section class="division">
        <h2>Board</h2>

        <h2>Cyclists</h2>

        <h2>Mechanics & Structures</h2>

        <h2>Aerodynamics</h2>

        <h2>Electronics & IT</h2>
        
        <h2>Biomedics</h2>

        <h2>Data Analysis & Simulation</h2>

        <h2>Logistics & Supply Chain</h2>

        <h2>PR & Media</h2>
      </section>
    </section>
    -->
  </main>
</Layout>

<style>
  .members {
    border-top: 3px solid #000000;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 30px;
    background-color: #252525;
  }
</style>