---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <section class="top-title-section">
      <h1>The Team</h1>
    </section>

    <section class="page-content">
        <div class="content-text">
          
        </div>
    </section>  
  </main>
</Layout>

