---
// Header.astro
import logo from '../assets/LogoPolicumbent_Wht.svg';
---

<header class="main-header">
  <div class="header-container">
    <a href="/" class="logo">
    <img src={logo.src} height=40% alt="Policumbent Logo" />
    </a>
    
    <nav class="nav-links">
      <a href="/wip">TEAM</a>
      <a href="/wip">BLOG</a>
      <a href="/wip">PROTOTYPES</a>
      <a href="/wip">COMPETITIONS</a>
      <a href="/wip">PARTNERS</a>
      <a href="/wip" class="btn-contacts">CONTACTS</a>
    </nav>
  </div>
</header>